PORT=3000
GATEWAY_PREFIX=
# Absolutní nebo relativní cesta k JSON úložišti (od working directory při startu)
DATA_FILE=./data/fitness-goal.json
# * = povolit každý origin; nebo např. http://localhost:5173
CORS_ORIGIN=*
# 0 = vypnout request logy
REQUEST_LOG=1
